

{{!< default}}

<main class="content" role="main">

    <div align="center">

        <nav class="main-nav overlay clearfix">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        </nav>


        <h1>404 - Something's gone horribly wrong!</h1>
        <img src="http://puu.sh/ls9l0/2c717e8c42.jpg"/>
        <h1><a href="http://sebholzapfel.com">Click here to go to SebHolzapfel.com</a></h1>
        <h1>Quick - escape before the fabric of spacetime begins to unravel...</h1>
    </div>
</main>


